Banco de Dados/cv.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="nome" type="xs:string"/>
  <xs:element name="idade" type="xs:float"/>
  <xs:element name="formacao" type="xs:string"/>
  <xs:element name="email" type="xs:string"/>
  <xs:element name="telefone" type="xs:string"/>
  <xs:element name="inicio" type="xs:string"/>
  <xs:element name="fim" type="xs:string"/>
  <xs:element name="nomeInstituicao" type="xs:string"/>
  <xs:element name="curso">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="tipo" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="periodoCargo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="inicio"/>
        <xs:element ref="fim"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="instituicao">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nomeInstituicao"/>
        <xs:element ref="curso"/>
        <xs:element ref="periodoCargo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nomeCargo" type="xs:string"/>
  <xs:element name="nomeEmpresa" type="xs:string"/>
  <xs:element name="cargo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nomeCargo"/>
        <xs:element ref="periodoCargo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="experiencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nomeEmpresa"/>
        <xs:element ref="cargo" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="tipo" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dadosPessoais">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nome"/>
        <xs:element ref="idade"/>
        <xs:element ref="formacao"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="contatos">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="locn:endereco" xmlns:locn="https://lov.linkeddata.es/dataset/lov/vocabs/locn"/>
        <xs:element ref="email"/>
        <xs:element ref="telefone"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="historicoAcademico">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="instituicao" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="historicoProfissional">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="experiencia" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cv">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dadosPessoais"/>
        <xs:element ref="contatos"/>
        <xs:element ref="historicoAcademico"/>
        <xs:element ref="historicoProfissional"/>
        <xs:element ref="lan:idiomas" xmlns:lan="http://purl.org/dc/terms/language"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>